@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'lato';
    overflow-
}
body {
    padding: 0;
    margin: 0;
    height: 782px;
}
/* FIRST PAGE */
.first-page {
    height: 782px;
    background-image: url(images/Bg.jpg);
    background-size: cover;

}
/* NAVIGATION BARRRR!!!!! */
nav {
    /* background-color: brown; */
    position: relative;
    top: 17px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: space-between;
}
.cloudbudget {
    /* background-color: black; */
    position: relative;
    height: 40px;
    width: 300px;
    border-radius: 0px;
    top: 40px;
}
.cloud {
    height: 17.399999618530273px;
    width: 24.649995803833008px;
    border-radius: 0px;
    position: relative;
    left: 122px;
    
}
h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    bottom: 2px;
    text-transform: uppercase;
    display: inline-block;
    left: 130px;
    color: #FFFFFF;
}
.six-links {
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 445px;
    height: 22px;
    position: relative;
    top: 40px;
    left: 0px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}
.main {
    font-weight: 700;
}

.language {
    /* background-color: black; */
    position:relative;
    left: 0px;
    top: 13px;
    width: 350px;
    height: 80px;
}
.american {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
}
.en {
    color: white;
    position: absolute;
    top: 26px;
    left: 45px;
    
}
.shit {
    position: absolute;
    top: 32px;
    left: 75px;
    cursor: pointer;
}
.button {
    width: 100px;
    height: 40px;
    position: relative;
    top: 17px;
    left: 130px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
}
button {
    border: none;
    color: white;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 27px;
}    
/* SECTION */
.topchik {
    /* background-color: black; */
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 250px;
}
h1 {
    /* position: absolute; */
    margin: auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text {
    /* position: absolute; */
    margin: auto;
    width: 460px;
    height: 144px;
    margin-top: 55px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.pullup {
    position: absolute;
    width: 160px;
    height: 50px;
    top: 300px;
    background: #FFFFFF;
    border-radius: 6px;

}
.butt {
    color: #ED4C5C;
    border-radius: 6px;
    margin-left: 29px;
    margin-top: 6px;
}
/* SECOND PAGE */
.second-page {
    height: 500px;
    display: flex;
    margin: auto;
}
.first-column {
    /* background-color: brown; */
    height: 100%;
    width: 748px;
    align-items: center;
    position: relative;
    margin: auto;
}
.first-column .p {
    width: 450px;
    margin: auto;
    margin-top: 140px;
    font-size: 36px;
    font-family: 'lato';
    font-weight: 600;
    line-height: 43px;
    color: #000000;
}
.first-column p {
    margin: auto;
    margin-bottom: -20px;
    width: 445px;
    height: 115px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}
.first-column a {
    margin-left: 158px;
    width: 81px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ED4C5C;
}
.second-column {
    /* background-color: cadetblue; */
    height: 100%;
    width: 748px;
    position: relative;
    margin: auto;
}
.second-column .idiots {
    background: url(.jpg), #C4C4C4;
    border-radius: 15px;
    margin-top: 94px;
    margin-left: 33px;
}
.play {
    position: absolute;
    left: 0px;
    top: 210px;
}
/* THIRD PAGE */
.third-page {
    /* background-color: bisque; */
    height: 660px;
    align-items: center;
    position: relative;
}
.third-page p {
    height: 55px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin: auto;
    padding-top: 63px;
    text-align: center;
}
.three-shits {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 110px;
}
.whassup {
    position: relative;
}
.blank1 {
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 170px;
    left: 28px;
    z-index: 1;
}
.blank2 {
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 170px;
    left: 28px;
    z-index: 1;
}
.blank3 {
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 170px;
    left: 28px;
    z-index: 1;
}
.blank1 p {
    width: 229px;
    height: 40px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -30px;
    color: #101010;
}
.blank2 p {
    width: 229px;
    height: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 40px;
    color: #101010;
}
.blank3 p {
    width: 229px;
    height: 40px;
    margin-top: -30px;
    margin-bottom: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    color: #101010;
}
.blank1 text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #101010;
    position: absolute;
    width: 250px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 150%;

}
.blank2 text {
    width: 229px;
    height: 57px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #101010;
    position: absolute;
    width: 220px;
    margin-left: 37px;
    line-height: 150%;
    margin-top: 20px;
    text-align: center;
}
.blank3 text {
    width: 229px;
    height: 57px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
    position: absolute;
    width: 220px;
    margin-left: 37px;
    margin-top: 20px;
    text-align: center;
}
.blank1 a {
    position: absolute;
    top: 155px;
    left: 23px;
    width: 253px;
    height: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
}
.blank2 a {
    position: absolute;
    top: 155px;
    left: 23px;
    width: 253px;
    height: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
}
.blank3 a {
    position: absolute;
    top: 155px;
    left: 23px;
    width: 253px;
    height: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
}
/* FOURTH PAGE */
.fourth-page {
    background-color: bisque;
    width: 100%;
    height: 508px;
}
.fourth-page .p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}

















@media (max-width:1154px) {
    a {
        font-size: 10px;
    }
}

@media (max-width:1062px) {
    .button {
        left: 130px;
    }
}
@media (max-width:1004px) {
    a {
        font-size: 10px;
    }
    .language {
        width: 400px;
    }
    .cloud {
        left: 5px;
    }
    h2 {
        left: 15px;
        bottom: px;
    }
}
@media (max-width: 890px) {
    nav {
        gap: 20px;
    }
}
@media (max-width:1112px) {
    .three-shits {
        gap: 0;
    }
}
@media (max-width:1045px) {
    .whassup {
        width: 300px;
    }
    .three-shits {
        margin-right: 45px;
    }
    .blank1 {
        left: 19px;
    }
    .blank2 {
        left: 19px;
    }
    .blank3 {
        left: 19px;
    }
}
@media (max-width: 800px) {
    .idiots {
        width: 260px;
        position: relative;
        top: 58px;
    }
    .play {
        width: 55px;
        left: 4px;
    }
    .three-shits {
        width: 500px;
        margin-left: 120px;
    }
    .burden {
        width: 240px;
        margin-left: 10px;
    }
    .blank1 p {
        font-size: 12px;
        width: 150px;
    }
    .blank2 p {
        font-size: 12px;
        width: 150px;
    }
    .blank3 p {
        font-size: 12px;
        width: 180px;
    }
    .blank1 text {
        font-size: 9px;
        width: 180px;
    }
    .blank2 text {
        font-size: 9px;
        width: 180px;
        margin-left: 21px;
        
    }
    .blank3 text {
        font-size: 9px;
        width: 180px;
        margin-left: 21px;
    }
    .blank1 a {
        font-size: 10px;
        left: -14px;
    }
    .blank2 a {
        font-size: 10px;
        left: -14px;
    }
    .blank3 a {
        font-size: 10px;
        width: 100px;
        margin-left: 37px;
    }
    .whassup {
        display: flex;
    }
    .blank3 {
        width: 220px;
    }
    .blank2 {
        width: 220px;
    }
    .blank1 {
        width: 220px;
    }
    
}